{% for module in modules %}
    {% if loop.index not in [1,3,6] %}
    <div id="common-home" class="container">
    <div id="content" class="col-sm-12">
    {% endif %}
    {{ module }}
    {% if loop.index not in [1,3,6] %}
    </div>
    </div>
    {% endif %}
{% endfor %}