{% for module in modules %}
    {% if 'vz-full_width' not in module %}
    <div id="common-home" class="container">
    <div id="content" class="col-sm-12">
    {% endif %}
    {{ module }}
    {% if 'vz-full_width' not in module %}
    </div>
    </div>
    {% endif %}
{% endfor %}